In [1]:
import mysql.connector as m

In [2]:
mydb = m.connect(host='localhost',user='root',passwd='qwerty',database='bank_database')

In [ ]:
mycursor = mydb.cursor()

In [ ]:
name = ['JACK','KATE','CLAIRE','JACK','MIKE']
major = ['BIO','SOCIO','CHEM','BIO','CS']
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE student(student_id INT AUTO_INCREMENT, name VARCHAR(20), major VARCHAR(20), PRIMARY KEY(student_id))")
for i in range(len(name)):
    x = ("INSERT INTO student(name,major) VALUES('{}','{}')".format(name[i],major[i]))
    mycursor.execute(x)
mycursor.execute('SELECT * FROM student1')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mydb.commit()

In [ ]:
mycursor.execute("INSERT INTO student VALUES(6,'SAYALI','ENTC')")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()

In [ ]:
mycursor.execute("UPDATE student SET major= 'BIO' WHERE major='Bio'")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("UPDATE student SET major= 'CS' WHERE major='COMP.SCIENT'")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("UPDATE student SET major= 'CS' WHERE student_id=4")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("UPDATE student SET major= 'ECIT' WHERE major='CS' OR major= 'ENTC'")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("UPDATE student SET name='TOM',major='UNDECIDED' WHERE student_id=6")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("UPDATE student SET major='UNDECIDED' ")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("DELETE FROM student WHERE student_id=6")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("DELETE FROM student WHERE name='JACK' AND major='UNDECIDED'")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
mycursor.execute("DELETE FROM student")
mycursor.execute('SELECT * FROM student')
myresult = mycursor.fetchall()
for items in myresult:
    print(items)

In [ ]:
name = ['JACK','KATE','CLAIRE','JACK','MIKE']
major = ['BIO','SOCIO','CHEM','BIO','CS']
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE student2(student_id INT AUTO_INCREMENT, name VARCHAR(20), major VARCHAR(20), PRIMARY KEY(student_id))")

In [ ]:
for i in range(len(name)):
    x = ("INSERT INTO student1(name,major) VALUES('{}','{}')".format(name[i],major[i]))
    mycursor.execute(x)
mycursor.execute('SELECT * FROM student1')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)
mydb.commit()

In [ ]:
mycursor.execute('SELECT name,major FROM student1')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT name FROM student1')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT student1.name,student1.major FROM student1 ORDER BY name')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT student1.name,student1.major FROM student1 ORDER BY name DESC')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT student1.name,student1.major FROM student1 ORDER BY student_id DESC')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT student1.name,student1.major FROM student1 ORDER BY student_id ASC')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT * FROM student1 ORDER BY major,student_id ASC')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT * FROM student1 LIMIT 4')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute('SELECT * FROM student1 ORDER BY student_id ASC LIMIT 4')
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
# FILTER
mycursor.execute("SELECT * FROM student1 WHERE major = 'BIO' OR major = 'CS'")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
''' -- for comments, 
Comparision operators are as follows:

    < less than,
    > greater than,
    <= less equal,
    >= greater than equal,
    <> not equal'''

In [ ]:
mycursor.execute("SELECT * FROM student1 WHERE student_id<=6 AND major <> 'BIO'")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

In [ ]:
mycursor.execute("SELECT * FROM student1 WHERE name IN ('KATE','MIKE','JACK')")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)